<ion-header>
    <ion-toolbar color="gel">
        <ion-avatar slot="start" class="profile">
            <img src="assets/images/person.png">
          </ion-avatar>
      <ion-title *ngFor="let user of userProfile">
          <div>{{user.EMP_INTL}} {{user.EMP_NAME}} {{user.EMP_SURNME}}</div>
        <div>{{user.JBT_THAIDESC}}</div>
      </ion-title>
    </ion-toolbar>
  </ion-header>
<ion-content class="full">  
    <form [formGroup]="checkInForm" (ngSubmit)="onClickSubmit()">
    <ion-list>
      <ion-item *ngFor="let value of projInLoation"  formControlName="ProjId">
        <ion-icon name="locate" color="gel"></ion-icon> <ion-input color="gel" type="text">{{value.NAME}}</ion-input>
        <!-- <ion-select placeholder="เลือกโครงการใกล้" formControlName="ProjId">
          <ion-select-option *ngFor="let item of projInLoation" [value]="item.proId" selected>{{item.NAME}}</ion-select-option>
        </ion-select> -->
      </ion-item>
      
      <ion-item>
        <ion-label color="gel"><ion-icon name="pin"></ion-icon> {{ lat }}, {{ lng }}</ion-label>
      </ion-item>
    </ion-list>

    <ion-card class="full">
      <ion-card-content style="text-align: center">
        <ion-card-title color="primary">
          <h1 style="font-size: 50px;font-weight: 900;">{{now | date: 'HH:mm:ss' }}</h1>
        </ion-card-title>
        <ion-card-title>
          <h2>{{timeToday | date: 'dd/MM/yyyy' }}</h2>
        </ion-card-title>
      </ion-card-content>
      <section class="full-width">
          <ion-button expand="block" color="success" type="submit" class="form-control">บันทึกเวลาทำงาน</ion-button>
        </section>
    </ion-card>
    



  <!-- Display Check in timeattendance-->
  <ion-card>
  <ion-grid>
      <ion-row>
        <ion-col>
          <div>เข้า: {{ timeIn }}</div>
        </ion-col>
        <ion-col>
          <div>ออก: {{ timeOut }}</div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</form>
</ion-content>
