<ion-slides pager="true" [options]="slideOpts">
    <ion-slide>
        <app-logo></app-logo>
      <h1>Welcome to GEL APP</h1>
      <p>Application of General Engineering Public Company Limited</p>
      <ion-text color="dark">
          <h5>แอปพลิเคชั่นสำหรับพนักงานของบริษัท เจนเนอรัล เอนจิเนียริ่ง จำกัด (มหาชน)</h5>
        </ion-text>
    </ion-slide>
    <ion-slide>
      <h2>วิธีใช้งาน</h2>
      <img src="../../../assets/images/howto_.png" width="50%">
      <ion-text color="secondary">
          <h1>1: กรอกรหัสบัตรประชาชนในช่อง ชื่อผู้ใช้งาน</h1>
      </ion-text>      
    <ion-text color="primary">
        <h1>2: กรอกรหัสพนักงานในช่อง รหัสผ่าน</h1>
      </ion-text>
    </ion-slide>
    <ion-slide>
      <h2>ติดต่อ</h2>
      <ion-text color="dark">
          <h1>ฝ่ายเทคโนโลยีสารสนเทศ</h1>
          <h1>ฝ่ายบุคคล</h1>
        </ion-text>
    </ion-slide>
  </ion-slides>