ion-slide{
    padding: 140px 20px;
    //background-color: #224f26;
    color: #444444;
    display: block;
    font-family: Bai Jamjuree, sans-serif;
    h2{
        font-size: 36px;
        font-weight: bold;
    }
}

