@font-face {
    font-family: Bai Jamjuree, sans-serif;
    src: url('../fonts/BaiJamjuree-Regular.ttf');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: Bai Jamjuree, sans-serif;
    src: url('../fonts/BaiJamjuree-SemiBold.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Bai Jamjuree, sans-serif;
    src: url('../fonts/BaiJamjuree-Bold.ttf');
    font-weight: 700;
    font-style: bold;
}

@font-face {
    font-family: Bai Jamjuree, sans-serif;
    src: url('../fonts/BaiJamjuree-Italic.ttf');
    font-weight: 200;;
    font-style: italic;
}