<ion-content>
<div class="center">
  <img src="assets/images/GEL.png" style="padding-top: 50px;">
  <h1>ลงชื่อเข้าใช้งานระบบ</h1>
</div>
<form>
  <ion-list>
    <ion-item>
        <ion-label position="stacked">ชื่อผู้ใช้งาน</ion-label>
        <ion-input autocomplete="on" name="username" type="text" [(ngModel)]="postData.username"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label position="stacked">รหัสผู้ใช้งาน</ion-label>
        <ion-input autocomplete="off" name="password" type="password" [(ngModel)]="postData.password"></ion-input>
    </ion-item> 
    <div style="padding-top: 10px;">
      <ion-button expand="block" color="success" (click)="loginAction()">ยืนยันเข้าสู่ระบบ</ion-button>
    </div>   
    
  </ion-list>
</form>
</ion-content>
