<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="feed">
      <ion-icon name="home"></ion-icon>
      <ion-label>หน้าแรก</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="checktime">
      <ion-icon name="time"></ion-icon>
      <ion-label>ลงเวลา</ion-label>
    </ion-tab-button>

    <!-- <ion-tab-button tab="notifications">
      <ion-icon name="notifications"></ion-icon>
      <ion-label>ข้อความ</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="menu"></ion-icon>
      <ion-label>เมนู</ion-label>
    </ion-tab-button> -->

  </ion-tab-bar>

</ion-tabs>
