<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
      <ion-label>ฉัน</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="checktime">
      <ion-icon name="time"></ion-icon>
      <ion-label>ลงเวลา</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="feed">
      <ion-icon name="paper"></ion-icon>
      <ion-label>ข่าวสาร</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="cog"></ion-icon>
      <ion-label>ตั้งค่า</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
